body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.card {
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
